@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// -----------COLORS-----------//

$Hiligths: #4C54F8;
$NonHiligths: #4C54F8;
$NonHiligthsTwo: #AEB7B4;

//-------BACKGROUND COLOR----------//
$ButtonBGOne: #4C54F8;
$ButtonBGTwo: #3267B1;

//-----------FONT SIZES----------//

$FourteenPX: 14px;
$ThirtySixPX: 36px;
$ThirteenPX: 13px;
$SixteenPX: 16px;
$TwentyTwo: 22px;
$Small: 12px;

//---------FONTS FAMILY
$FamilyOne: 'Roboto', sans-serif;

//-------------FONT WEIGTH---------//
$Regular: 400;
$Medium: 500;
$Heading: 700;
$Bold: bold;

//---------BREAK POINTS----------//
$XSmallBreak: 200px;
$SmallBreak: 567px;
$SmallBreak2: 568px;
$Medium: 767px;
$Medium2: 768px;
$XMedium: 991px